extends layout

block head
  link(rel='stylesheet', href='/leaflet/leaflet.css')
block content
  script(src='/leaflet/leaflet.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/javascripts/gpx.js')
  script(src='/javascripts/leaflet-embed.js')
  div(id='parent')
    div(id='gpxlist')
      ul
        each FILE in files
          li#gpxelm
            a= FILE

    #map(style='height: 800px; width: 1200px; float: center;')
