extends layout

block head
  link(rel='stylesheet', href='/leaflet/leaflet.css')
block content
  script(src='/leaflet/leaflet.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/javascripts/gpx.js')
  script(src='/javascripts/leaflet-embed.js')
  div(id='parent')
    ul(id='gpxlist')
      each FILE in files
        li#gpxelm= FILE

    #map(style='height: 600px; width: 800px; float: center;')
