extends layout

block head
  link(rel='stylesheet', href='/leaflet/leaflet.css')
block content
  script(src='/leaflet/leaflet.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/javascripts/gpx.js')
  script(src='/javascripts/leaflet-embed.js')
  h1= title
  p Welcome to #{title}
  p These are the contents #{files}

  ul
    each FILE in files
      li= FILE
  #map(style='height: 800px; width: 1000px')
